@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  margin-right: 10px;
  margin-left: 10px;
}

/* Remove auto styles from time elements */
.cbp_tmtimeline {
  margin-top: 30px;
  list-style: none;
  position: relative;
}

/* Set up styles for the date and time span elements */
.cbp_tmtimeline li {
  position: relative;
}

.cbp_tmtimeline li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline li .cbp_tmtime span {
  display: block;
  text-align: left;
}

.cbp_tmtimeline li .cbp_tmtime span:first-child {
  font-size: 12pt;
  color: #bdd0db;
}

.cbp_tmtimeline li .cbp_tmtime span:last-child {
  font-size: 22pt;
  color: #3594cd;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee;
}

/* Create and style the line between the time/date span elements and the ul li div elements */
.cbp_tmtimeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #afdcf8;
  left: 20%;
  margin-left: -10px;
}

/* Set the style for the div information in each li within the ul */
.cbp_tmtimeline li .cbp_tmlabel {
  background: #3594cb;
  color: #fff;
  margin-bottom: 15px;
  margin-left: 25%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
  border-radius: 5px;
}

/* Set the color for every other li to be lighter */
.cbp_tmtimeline li:nth-child(odd) .cbp_tmlabel {
  background: #6cbfee;
}

/* Set the style for li h2 element */
.cbp_tmtimeline li .cbp_tmlabel h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

/* Create the triangle that sticks out from the ul li div element */
.cbp_tmtimeline li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  position: absolute;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px;
}

/* Set the color for every other triangle to be lighter */
.cbp_tmtimeline li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #6cbfee;
}

/* Copied the below code from the reference source and am not sure how it is accomplishing everything as evidenced by the incorrect layout of the icons */

/* Create and style the vertical line icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'ecoico';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #46a4da;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #afdcf8;
	text-align: center;
	left: 20%;
	top: 0;
	margin: 0 0 0 -25px;
}

.cbp_tmicon-phone:before {
	content: "\e000";
}

.cbp_tmicon-screen:before {
	content: "\e001";
}

.cbp_tmicon-mail:before {
	content: "\e002";
}

.cbp_tmicon-earth:before {
	content: "\e003";
}

@media screen and (max-width: 65.375em) {
 		.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
    }
}
