@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/*Set the font and font color for the document body*/
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  /*color: #47a3da;*/
}

/*Set the font-size and color for the Header elements*/
.clearfix span {
  font-weight: 700;
  color: #47a3da;
}

.clearfix h1 {
  font-size: 2.125em;
  font-weight: 400;
  color: #47a3da;
}

/*To get rid of default list bullets*/
ul {
  list-style-type: none;
}

/*Create the Arrows next to h3 elements*/
.cbp-ntaccordion > li >.cbp-nttrigger:before {
  content: "\21a0  ";
}

/*Create the Arrow action for h3 elements*/
.cbp-ntaccordion > li >.cbp-nttrigger:hover:before {
  content: "\21a1  ";
}

/*Create the Arrows next to the h4 and h5 elements*/
.cbp-ntsubaccordion > li >.cbp-nttrigger:before {
  content: "\292d  ";
}

/*Create the Arrow action for the h4 and h5 elements*/
.cbp-ntsubaccordion > li >.cbp-nttrigger:hover:before {
  content: "\2930  ";
}

/*Set the font-size and font-weight for the h3 elements*/
#cbp-ntaccordion .cbp-nttrigger {
  font-size: 2.75em;
  font-weight: 300;
  color: #47a3da;
}

/*Set the font-size and font-weight for the h4 elements*/
#cbp-ntaccordion .cbp-ntsubaccordion .cbp-nttrigger {
  font-size: 1.2em;
  font-weight: 400;
}

/*Set the font-size, font-weight and color for the h5 elements*/
.cbp-ntsubaccordion h5 {
  font-size: 1em;
  font-weight: 400;
  color: #aaaaaa;
}

/*Hide the <p> element in h3 until clicked*/
.cbp-ntaccordion .cbp-ntcontent {
  height: 0;
  overflow: hidden;
}

/*Set <p> element height in the <h3> elements to auto when <li> element gets class '.cbp-ntopen' from JavaScript*/
.cbp-ntaccordion .cbp-ntopen .cbp-ntcontent {
  height: auto;
}

/*Hide the <p> element in h4 until clicked*/
.cbp-ntaccordion .cbp-ntsubaccordion .cbp-ntcontent {
  height: 0;
  overflow: hidden;
}

/* Set <p> element height in the <h4> elements to auto when <li> element gets class '.cbp-ntopen' from JavaScript*/
/.cbp-ntsubaccordion .cbp-ntopen .cbp-ntcontent {
  height: auto;
}
