/* Setting up the form defaults */
.cbp-mc-form {
    position: relative;
}

/* Clearing up the distinction between the columns and the form as a whole */
.cbp-mc-column {
    box-sizing: border-box;
    width: 33%;
    float: left;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

/* Setting up the forms label formats */
.cbp-mc-form label {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 40px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
}

/* Setting up the various input elements */
.cbp-mc-form input,
.cbp-mc-form textarea,
.cbp-mc-form select {
    font-size: 1.4em;
    color: #fff;
    background-color: #47a3da;
    display: block;
    line-height: 1.5em;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    width: 100%;
}

/* Giving border to form elements that should have one */
.cbp-mc-form input,
.cbp-mc-form textarea {
  border: 3px solid #fff;
}

/* Setting size of textarea to distinguish it from input and help queue user */
.cbp-mc-form textarea {
    min-height: 8em;
}

/* Setting up div that contains my submit button to display properly */
.cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    clear: both;
}

/* Setting styles for form submit button */
.cbp-mc-submit-wrap .cbp-mc-submit {
    background-color:#10689a;
    display: inline-block;
    width: auto;
    border: none;
    text-transform: uppercase;
    font-size: 13pt;
    letter-spacing: 0.1em;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    cursor: pointer;
}

/* Setting viewport form column width for landscape mode */
@media screen and (max-width: 70em) {
    .cbp-mc-column { /*Does not have desired affect of presenting two columns side by side and I'm not sure why?*/
        width: 50%;
    }
    .cbp-mc-column:nth-child(3) {
        width: 100%;
    }
}

/* Setting viewport form column width for portrait mode */
@media screen and (max-width: 48em) {
    .cbp-mc-column {
        box-sizing: border-box;
        width: 100%;
    }
}
