/* Remove auto styles from time elements */
.cbp_tmtimeline {
  margin-top: 30px;
  list-style: none;
  position: relative;
}

/* Set up styles for the date and time span elements */
.cbp_tmtimeline li {
  position: relative;
}

.cbp_tmtimeline li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline li .cbp_tmtime span {
  display: block;
  text-align: left;
}

.cbp_tmtimeline li .cbp_tmtime span:first-child {
  font-size: 12pt;
  color: #bdd0db;
}

.cbp_tmtimeline li .cbp_tmtime span:last-child {
  font-size: 22pt;
  color: #3594cd;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee;
}

/* Create and style the line between the time/date span elements and the ul li div elements */
.cbp_tmtimeline:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #afdcf8;
  left: 20%;
  margin-left: -10px;
}

/* Set the style for the div information in each li within the ul */
.cbp_tmtimeline li .cbp_tmlabel {
  background: #3594cb;
  color: #fff;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.5em;
  position: relative;
  border-radius: 5px;
}

/* Set the color for every other li to be lighter */
.cbp_tmtimeline li:nth-child(odd) .cbp_tmlabel {
  background: #6cbfee;
}

/* Set the style for li h2 element */
.cbp_tmtimeline li .cbp_tmlabel h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

/* Create the triangle that sticks out from the ul li div element */
.cbp_tmtimeline li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  position: absolute;
  border-right-color: #3594cb;
  border-width: 10px;
  top: 10px;
}

/* Set the color for every other triangle to be lighter */
.cbp_tmtimeline li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #6cbfee;
}

@media screen and (max-width: 47em) {
  /* Get rid of the divider line we don't need anymore */
  .cbp_tmtimeline:before {
    display: none;
  }

  /* Make the time span elements fit across the screen width */
  .cbp_tmtimeline li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
  }

  /* Make the ul li div fit across the screen width */
  .cbp_tmtimeline li .cbp_tmlabel {
    margin-bottom: 30px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  /* Move the triangle from the side to the top */
  .cbp_tmtimeline li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-bottom-color: #3594cd;
    top: -20px;
  }

  /* Change the color of the triangle for every other ul li element */
  .cbp_tmtimeline li:nth-child(odd) .cbp_tmlabel:after {
    border-bottom-color: #6cbfee;
  }

  /* Move the icon to the right above the ul li div element */
  .cbp_tmtimeline li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin-top: -55px;
    margin-right: 5px;
  }
}
