/* Refactored original styles.css file into the much easier to organize .scss sass format */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

/* took the above from the reference source but did not use icons as I don't fully understand how to implement them */

/* Set default style for body */
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;

	/* Set default styles for header elements */
	.container {

		.clearfix {

			width: 90%;
			margin: 0 auto;

			span {
			  display: block;
				font-size: 0.5em;
				text-align: center;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 1em;
				padding-bottom: 0.5%;
			}

			h1 {
			  display: block;
			  text-align: center;
			  margin: 0 auto;
				font-size: 2.5em;
				line-height: 1.5;
				font-weight: 400;
			}

			/* Set styles for nav anchor elements */
			nav {
				text-align: center;

				/* Set default styles for anchor elements */
				a {
				  color: #f0f0f0;
				  text-decoration: none;
				}

				a:hover {
				  color: #000;
				}

				a {
					display: inline-block;
					position: relative;
					text-align: left;
				}

			}

		}

	}

	.main {

	  width: 90%;
		margin: 0 auto;

	  .cbp_tmtimeline {

	    li {

	      list-style-type: none;

	      &:nth-child(odd) .cbp_tmlabel {

	        background-color: #6cbfee;

	      }

	      &:nth-child(odd) .cbp_tmtime span:last-child {

	        color: #6cbfee;

        }

	      time {

	      display: block;
	      width: 15%;

	        span {

	          display: block;

	          &:first-child {

	            font-size: 0.9em;
	            color: #bdd0db;

	          }

	          &:last-child {

	            font-size: 1.9em;
	            color: #3594cb;

	          }

	        }

	      }

	    }

	    .cbp_tmlabel {

	      background-color: #3594cb;
	      color: #fff;
				padding-top: 2em;
				padding-right: 2em;
				padding-bottom: 2em;
				padding-left: 2em;
				font-weight: 300;
				font-size: 1.2em;
				line-height: 1.4;
				border-radius: 5px;

	      h2 {

	        font-size: 2em;
					padding-bottom: 5%;
	        border-bottom: 1px solid #fff;

	      }

	    }

	  }

	}

}
